<ul class="nav">
  <li>
  	<a href="/" class="home"> Home </a>
  </li>

  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
</ul>

<h1>Leaderboard</h1>

<% @genres.each do |genre| %>
	<div class="genre">
		<%= genre.name %>
	</div>
	<% @subgenres.each_with_index do |subgenre, index| %>
		<% if subgenre.genre_id.to_i == genre.id.to_i %>
			<div class="subgenre">
				<%= subgenre.name %>
				<br />
				<% @i = 0 %>
				<% @leaderboards[index].each do |scorer| %>
					<%= @leaderboards_names[index][@i] %>
					<%= scorer.points %>
					<br />
					<% @i += 1 %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>