<ul class="nav">
  <li>
  	<a href="/" class="home"> Home </a>
  </li>
  <li>
  	<a href="/leaderboard/index" class="leaderboard"> Leaderboard </a>
  </li>

  <li>
	  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "logout") %>
  </li>
</ul>

<h1>Leaderboard</h1>

<% @genres.each do |genre| %>
	<div class="genre">
		<%= genre.name %>
	</div>

	<br />
	<hr />
	<br />

	<% @subgenres.each_with_index do |subgenre, index| %>
		<% if subgenre.genre_id.to_i == genre.id.to_i %>
			<div>
				<div style="width: 100%; font-size: 18px; text-align: center">
					<%= subgenre.name %>
				</div>
				<br />
				<hr class="small" />
				<br />
				
				<% @i = 0 %>
				
				<table style="width:100%">
				  <tr>
				    <th>Player</th>
				    <th>Score</th> 
				  </tr>

				<% @leaderboards[index].each do |scorer| %>
					<tr>
						<td> <%= @leaderboards_names[index][@i] %> </td>
						<td> <%= scorer.points %> </td>
					</tr>
					<br />
					<% @i += 1 %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>