<h1>Question</h1>

<div style="padding: 30px;">
<div class="question">
<%= @question.question %>
</div>

<br />
	<img src="<%= @question.image %>" class="question-image"/>

	<% if @question.audio != "/audios/original/missing.png" %>
		<audio class="question-audio" preload="auto" controls="controls"> 
	  	<source src="<%= @question.audio %>" />
		</audio>
	<% end %>

<form action="/question/start_quiz" method="post">
	<li><label><input type="checkbox" class="option" name="answer[]" value="1" /> <div><%= @question.option1 %></div> </label></li>
	<li><label><input type="checkbox" class="option" name="answer[]" value="2" /> <div><%= @question.option2 %></div> </label></li>
	<li><label><input type="checkbox" class="option" name="answer[]" value="3" /> <div><%= @question.option3 %></div> </label></li>
	<li><label><input type="checkbox" class="option" name="answer[]" value="4" /> <div><%= @question.option4 %></div> </label></li>
	<input type="hidden" name="start_game" value="false" />
	<input type="hidden" name="cotinue_game" value="false" />
	<input type="hidden" name="question_id" value=<%= @question.id %> />
	<input type="hidden" name="subgenre_id" value=<%= @subgenre_id %> />
	<li><input type="radio" name="skip_question" value="true" /> Skip Question </li>
	<li><input type="radio" name="double_points" value="true" /> Double Points </li>
	<br />
	<input type="submit" value="Submit" />
</form>
</div>