<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @genres.each do |genre| %>
	<div class="genre">
		<%= genre.name %>
	</div>
	<% arr = @subgenres.select{ |subgenre| subgenre.genre_id.to_i == genre.id.to_i } %>
		<% arr.each do |subgenre| %>
			<div class="subgenre">
				<%= subgenre.name %>
				<form action="/question/start_quiz" method="post">
					<input type="hidden" name="subgenre_id" value="<%= subgenre.id %>" />
					<input type="hidden" name="start_game" value="true" />
					<input type="hidden" name="question_id" value="0" />
					<input type="submit" value="Start Quiz">
				</form>
			</div>
		<% end %>
<% end %>
