<ul class="nav">
  <li>
  	<a href="/" class="home"> Home </a>
  </li>

  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
</ul>

<h1>Home</h1>

<div style="text-align: center;">
<form action="/question/start_quiz" method="post">
	<input type="hidden" name="continue_game" value="true" />
	<input type="submit" value="Continue Game">
</form>
</div>

<br />
<br />
<br />
<br />


<% @index = 0 %>
<% @genres.each do |genre| %>
	<div class="genre">
		<%= genre.name %>
	</div>

	<br />
	<hr />
	<br />

	<table style="width:100%">
	  <tr>
	    <th>Subgenre</th>
	    <th>High Score</th> 
	    <th>-</th>
	  </tr>

	<% @subgenres.each_with_index do |subgenre, index| %>
		<% if subgenre.genre_id.to_i == genre.id.to_i %>
	  	<tr>
			<div class="subgenre">
				<td> <%= subgenre.name %> </td>
				<td> <%= @scores[index] %> </td>
				<td>
				<form action="/question/start_quiz" method="post">
					<input type="hidden" name="subgenre_id" value="<%= subgenre.id %>" />
					<input type="hidden" name="start_game" value="true" />
					<input type="hidden" name="question_id" value="0" />
					<input type="submit" value="Start Quiz">
				</form>
				</td>
			</div>
			</tr>
		<% end %>
	<% end %>
	</table>
	<br />
	<br />
	<br />
	<br />
<% end %>
